%tr
  %td{:style => "padding: 20px 30px; color: rgb(229, 231, 235); background-color: rgba(63, 114, 175, 0.2); font-size: 16px; line-height: 1.5;color:black;"}
    %p
      We are sorry to see you go
    %p
      You’re helping to create something that truly reflects the heart of our community. Log in anytime to manage or view your Chesed Train Account.

    %p
      Warm regards,
      <br>
      The Chesed Train Team
