%p
  You are now able to manage multiple Potlucks &amp; Chesed Trains simultaneously, taking your Chesed to the Next Level!

%p
  You’re helping to create something that truly reflects the heart of our community. Log in anytime to manage or view your Chesed Train Account.

%p
  Warm regards,
  <br>
  The Chesed Train Team
