.flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
  = render partial: 'shared/steps/user', locals: { user: @user, url: users_path, method: :post }
