.flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
  %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} 
    Account Creation
  = render partial: 'shared/steps/user', locals: { user: @user, url: users_path, method: :post }
