%div{ class: "flex flex-col items-center bg-primary rounded-[0.7rem] w-full pb-10"}
  .mb-4.mt-10
    %span{ class: "font-lato font-[700] lg:text-[4rem] text-[1.5rem] font-bold text-secondary" } How It Works
  %div{ class: "mt-10 flex flex-row w-full lg:px-[12rem] px-[3rem] justify-between mb-10" }
    %div{ class: "flex flex-col items-center  relative w-2/5"}
      = image_tag "createAccount.png", class: "w-full rounded-[0.7rem] mb-2", alt: "How It Works 1"
      %div{ class: "font-lato font-[600] lg:text-[2rem] text-[0.75rem] font-bold text-secondary text-center" } Create Your Account
      %div{ class: "font-lato font-[400] lg:text-[1.5rem] text-[0.7rem] font-bold text-secondary text-center" } Sign up for a free Chesed Train Account.
      %div{ class: "absolute lg:-mt-[2rem] lg:-ml-[2rem] -mt-[1rem] -ml-[1rem] top-0 left-0 bg-primary-original border border-secondary rounded-[0.7rem] lg:w-[4rem] lg:h-[4rem] w-[2rem] h-[2rem] flex items-center justify-center lg:text-[2.5rem] text-[0.7rem] text-white" } 1
    %div{ class: "flex flex-col items-center  relative w-2/5"}
      = image_tag "createChesedTrain.png", class: "w-full rounded-[0.7rem] mb-2", alt: "How It Works 1"
      %div{ class: "font-lato font-[600] lg:text-[2rem] text-[0.75rem] font-bold text-secondary text-center" } Create the Chesed Train
      %div{ class: "font-lato font-[400] lg:text-[1.5rem] text-[0.7rem] font-bold text-secondary text-center" } Gather the details and setup your page.
      %div{ class: "absolute lg:-mt-[2rem] lg:-ml-[2rem] -mt-[1rem] -ml-[1rem] top-0 left-0 bg-primary-original border border-secondary rounded-[0.7rem] lg:w-[4rem] lg:h-[4rem] w-[2rem] h-[2rem] flex items-center justify-center lg:text-[2.5rem] text-[0.7rem] text-white" } 2
  %div{ class: "mt-10 flex flex-row w-full lg:px-[12rem] px-[3rem] justify-between mb-10" }
    %div{ class: "flex flex-col items-center  relative w-2/5"}
      = image_tag "shareChesedTrain.png", class: "w-full rounded-[0.7rem] mb-2", alt: "How It Works 1"
      %div{ class: "font-lato font-[600] lg:text-[2rem] text-[0.75rem] font-bold text-secondary text-center" } Share Your Chesed Train
      %div{ class: "font-lato font-[400] lg:text-[1.5rem] text-[0.7rem] font-bold text-secondary text-center" }Share your page with friends and family.
      %div{ class: "absolute lg:-mt-[2rem] lg:-ml-[2rem] -mt-[1rem] -ml-[1rem] top-0 left-0 bg-primary-original border border-secondary rounded-[0.7rem] lg:w-[4rem] lg:h-[4rem] w-[2rem] h-[2rem] flex items-center justify-center lg:text-[2.5rem] text-[0.7rem] text-white" } 3
    %div{ class: "flex flex-col items-center relative w-2/5"}
      = image_tag "coordinateVolunteers.png", class: "w-full rounded-[0.7rem] mb-2", alt: "How It Works 1"
      %div{ class: "font-lato font-[600] lg:text-[2rem] text-[0.75rem] font-bold text-secondary text-center" } Coordinate With Volunteers
      %div{ class: "font-lato font-[400] lg:text-[1.5rem] text-[0.7rem] font-bold text-secondary text-center" } Work with volunteers to ensure meals are delivered.
      %div{ class: "absolute lg:-mt-[2rem] lg:-ml-[2rem] -mt-[1rem] -ml-[1rem] top-0 left-0 bg-primary-original border border-secondary rounded-[0.7rem] lg:w-[4rem] lg:h-[4rem] w-[2rem] h-[2rem] flex items-center justify-center lg:text-[2.5rem] text-[0.7rem] text-white" } 4
