.container
  .flex.flex-col.w-full
    = image_tag 'about.jpg', class: 'object-fill w-full'
    .border.border-primary.rounded-lg.lg:p-10.p-5.my-12.md:my-24
      %div{class: 'flex items-center justify-center'}
        %div{class: 'w-[%80] md:w-[50%]'}
          %div{ class: "flex items-center justify-center text-secondary text-[2rem] font-lato font-bold mb-5"} 
            About us
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Our Mission
            %p
              Chesed Train Inc is a nonprofit organization dedicated to fostering community through organized acts of kindness. Whether you are supporting someone after a birth, surgery, sickness, shiva, hospitalization, or even coordinating a potluck, Chesed Train connects those in need with those ready to help.
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              What We Do
            %p
              We provide a platform that simplifies the coordination of support during life’s significant moments. Chesed Train allows you to organize meal deliveries, coordinate visits, or plan community gatherings, ensuring that no one faces life’s challenges or celebrations alone.
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Our Inspiration
            %p
              The Lubavitcher Rebbe, Rabbi Menachem Mendel Schneerson, once said, “Every person should increase in acts of goodness and kindness.”
            %p
              This wisdom guides everything we do at Chesed Train, inspiring us to embed chesed into the daily lives of our community, one kind act at a time.
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Our Commitment to Charity
            %p
              A portion of all proceeds generated through our platform supports charitable causes, extending the impact of your efforts beyond your immediate community.



