.container.p-10.flex.flex-col.justify-center
  .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.text-center
    %div{class: 'lg:w-1/2'}
      %div{ class: "text-secondary text-[2rem] font-lato font-[700] text-center lg:mb-20 mb-5"} 
        Chesed Train Pro
      %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal"} 
        Join Chesed Train Pro Today
      %p.mt-5.text-secondary
        With Chesed Train Pro, you can now manage multiple Chesed Trains simultaneously,  allowing you to offer support to as many families and individuals as YOU can!
      %p.mt-5.text-secondary
        Along with managing multiple Chesed Trains at once, joining Chesed Train Pro also gives you the opportunity to help with more than just dinners. With Chesed Train Pro, you will also have the ability to offer support with breakfast, lunch, and groceries as well.
    .mb-5
    = submit_tag "Coming Soon", class: 'w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 typypeext-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer', disabled: true
