.container
  .flex.flex-col.w-full
    .border.border-primary.rounded-lg.lg:p-10.p-5.my-12.md:my-24
      %div{class: 'flex items-center justify-center'}
        %div{class: 'w-[%80] md:w-[50%]'}
          %div{ class: "flex items-center justify-center text-secondary text-[2rem] font-lato font-bold mb-5"} 
            Terms of Service
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Acknowledgment and Acceptance of Terms
            %p
              Chesed Train Inc. (referred to as "Chesed Train," "we," "us," or "our"), provides services through our website, www.chesedtrain.com (the "Site" or "Platform"). By accessing and using this Site, you agree to these Terms of Service (the "Terms"). If you disagree with any part of these Terms, please do not use this Site or Services.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Overview of Services
            %p
              Chesed Train Inc. is a nonprofit organization that helps communities organize support for life’s significant moments, such as births, surgeries, sickness, shiva, hospitalizations, and even potlucks. Our platform simplifies the coordination of these efforts, ensuring that help is provided when and where it’s needed most.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Eligibility
            %p
              To use Chesed Train, you must be at least 16 years old and capable of entering into a binding contract under applicable law. If you are under 18, you agree to email a signed form from a guardian, confirming their consent to your use of this Site.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Privacy Policy
            %p
              Your use of Chesed Train is subject to our Privacy Policy, which outlines how we collect, use, and protect your personal information. Please review it carefully as part of these Terms.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              License to Use
            %p
              We grant you a limited, non-exclusive license to access and use this Site for personal, nonprofit purposes. We reserve the right to revoke your license for use of this Site, at our own will and discretion. You agree not to reproduce, modify, or exploit any part of this Site without our prior written consent. Any unauthorized use of this Site may result in termination of your license to use our Services.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              User Responsibilities
            %p
              You are responsible for maintaining the confidentiality of your account information, including your password. You agree not to share your account details with others and to notify us immediately of any unauthorized use. You are responsible for all activities that occur under your account.
            %p
              By using this Site, you agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate and complete, as necessary.

          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Donations and Fundraising
            %p
              As a nonprofit organization, Chesed Train may facilitate fundraising through our platform. All funds raised support our charitable mission. Donations are processed by third-party payment processors, and all transactions are subject to their terms and conditions.
            %p
              Chesed Train does not guarantee that any fundraising goals or amounts will be met. All donations are voluntary, and we do not provide refunds once a donation is processed unless required by law.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Site Conduct
            %p
              You agree not to post any content that is unlawful, defamatory, or otherwise inappropriate. We reserve the right to remove content that violates these Terms or is otherwise objectionable, at our discretion. You also agree not to use our Site to engage in any activity that is fraudulent, misleading, or harmful to others.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Indemnification
            %p
              You agree to indemnify and hold harmless Chesed Train, its affiliates, and partners  from any claims arising from this Site, your violation of these Terms, or your infringement of any rights of another.
            %p
              This indemnification and hold harmless obligation shall survive the termination of your account and these Terms. 
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Limitation of Liability
            %p
              Chesed Train provides this Site on an "as-is" basis and does not guarantee that this Site will be error-free or uninterrupted. Our liability is limited to the amount you have paid for our services, and we are not responsible for any indirect, incidental, or consequential damages. We are not liable for any loss or damage that may arise from your reliance on the information provided on this Site or your participation in any event organized through Chesed Train.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Dispute Resolution
            %p
              Any disputes arising out of these Terms or your use of this Site will be resolved through binding arbitration in Florida, in accordance with the rules of the American Arbitration Association.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Termination
            %p
              We reserve the right to terminate your access to this Site at any time for any reason, including violation of these Terms. We also reserve the right to modify or discontinue this Site at any time without notice.
            %p
              Upon termination, all provisions of these Terms that by their nature should survive termination shall survive, including but not limited to ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
          .flex.flex-col.items-start.justify-start.text-left
            %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal my-5"} 
              Changes to Terms
            %p
              We may update these Terms from time to time. Any changes will be posted on this page, and your continued use of this Site after such changes are posted constitutes your acceptance of the new Terms.
