.container.p-10
  .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.p-10.w-full.relative
    %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} 
      Chesed Train Pro
    %div{ class: "text-secondary lg:text-[2rem] text-[2rem] font-lato font-[700] mb-5 text-center"} 
      Join Chesed Train Pro Today
    %div{ class: "text-secondary lg:text-[1.5rem] text-[1.5rem] font-lato font-[700] mb-5 text-center"} 
      With Chesed Train Pro, you can now manage multiple Chesed Trains simultaneously,  allowing you to offer support to as many families and individuals as YOU can!

    %div{ class: "text-secondary lg:text-[1.5rem] text-[1.5rem] font-lato font-[700] mb-5 text-center"} 
      Along with managing multiple Chesed Trains at once, joining Chesed Train Pro also gives you the opportunity to help with more than just dinners. With Chesed Train Pro, you will also have the ability to offer support with breakfast, lunch, and groceries as well.

    %div{ class: "text-secondary lg:text-[1.5rem] text-[1rem] font-lato font-[500] mb-5 text-center"} 
    = link_to 'Join Chesed Train', create_payment_link_path, class: ' mt-5 w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 text-center rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer'

