.container.p-10.flex.flex-col.justify-center
  .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.text-center
    %div{class: 'lg:w-1/2'}
      %div{ class: "text-secondary text-[2rem] font-lato font-[700] text-center lg:mb-20 mb-5"} 
        Chesed Train Pro
      %div{ class: "text-secondary lg:text-[1.8rem] text-[1.8rem] font-lato font-normal"} 
        Thank you for your payment
      %p.mt-5.text-secondary
        You are now able to create and manage multiple Chesed Trains

