@import "flatpickr/dist/flatpickr.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* body {
    font-family: 'Alice', serif;
  } */
  
  /* h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  } */
  .font_large {
    font-weight: 900;
  }
   .font-alice {
    font-family: 'Alice', serif;
   }
   .font-lato {
    font-family: 'Lato', sans-serif;
   }
}

#date-range-picker {
    display: none;

}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@layer components {
  .w-full-label {
    @apply block text-sm font-bold text-secondary mb-1;
  }
  .w-full-field {
    @apply w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500;  
  }

  .button {
    @apply bg-primary-original border border-secondary text-white lg:py-2 py-1 rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer

  }
}
