@import "flatpickr/dist/flatpickr.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Alice', serif;
  } 

  .font_large {
    font-weight: 900;
  }
  .font-alice {
    font-family: 'Alice', serif;
  }
  .font-lato {
    font-family: 'Lato', sans-serif;
  }
}


#date-range-picker {
  display: none;

}

.bg-red {
  background-color: red;
  color: white;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@layer components {
  .w-full-label {
    @apply block text-sm font-bold text-secondary mb-1;
  }
  .w-full-field {
    @apply w-full px-3 py-2 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500;  
  }

  .button {
    @apply bg-primary-original border border-secondary text-white lg:py-2 py-1 rounded-xl hover:bg-blue-700 transition duration-200 cursor-pointer

  }

  .link-to {
    @apply text-white p-2 hover:bg-blue-700 transition duration-200 cursor-pointer

  }

  .secondary {
    @apply bg-primary-original

  }

  .admin {
    @apply flex flex-col items-center justify-center border border-primary rounded-lg p-5 md:p-10 w-full relative
  }

  .direct-upload {
    display: inline-block;
    position: relative;
    padding: 2px 4px;
    margin: 0 3px 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 11px;
    line-height: 13px;
  }

  .direct-upload--pending {
    opacity: 0.6;
  }

  .direct-upload__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background: #0076ff;
    transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
    transform: translate3d(0, 0, 0);
  }

  .direct-upload--complete .direct-upload__progress {
    opacity: 0.4;
  }

  .direct-upload--error {
    border-color: red;
  }

  input[type=file][data-direct-upload-url][disabled] {
    display: none;
  }


  .honeypot {
    position: absolute;
    left: -9999px;
  }
}
