= f.fields_for :selections, event.selections.uniq { |s| s.name } do |ff|
  %tr
    %td.border.border-slate-300.px-4.py-2
      = ff.text_field :name, placeholder: ff.object.name, class: 'border-none text-xs lg:text-2xl text-neutral-400 w-full'
    %td.border.border-slate-300.px-4.py-2
      = ff.number_field :quantity, class: 'border-none text-xs lg:text-2xl text-neutral-400 w-full'
    %td.border.border-slate-300.px-4.py-2
      = ff.text_field :special_note, class: 'border-none text-xs lg:text-2xl text-neutral-400 w-full', placeholder: 'Notes'

